/* CreateDefinable.css */
.form-container {
    width: 700px;
    background-color: rgb(250, 232, 0);
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-definable-form {
    width: 100%;
}

.create-definable-form input[type="text"] {
    width: 50%; /* Set width to 50% for the word input */
    margin-bottom: 20px;
}

.create-definable-form textarea {
    width: 100%; /* Full width for definition textarea */
    margin-bottom: 20px;
}

.black-dots-image {
    height: 30px;
    margin-left: 10px; /* Move the image to the right */
    display: inline-block; /* This ensures that the image aligns with the input */
    vertical-align: middle; /* Aligns the image vertically with the input */
}

.error-message {
    color: red;
    margin-bottom: 10px;
}

form button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
    width: 50%; /* Reduce the button size to 50% */
    padding: 10px;
    margin: 20px auto; /* Center the button */
    display: block; /* Needed for margin auto to work */
}

form button:hover {
    background-color: #555;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}
